* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.container {
    width: 1250px;
    margin: 0 auto;

}

/*------preloader part goes here------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: violet;
    width: 100%;
    height: 100%;
    z-index: 999999;


}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

.load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

.load :last-child {
    background: #193B48
}

@keyframes spin {
    0%, 100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}

/*.loader{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}*/

/*------Navbar part goes here----------*/

.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

}

.bg {
    background-color: teal;
    position: fixed;
    animation: bg 1s;
}

@keyframes bg {
    from {
        top: -50px
    }
    to {
        top: 0
    }
}


.navbar {
    display: flex;

}

.logo {
    width: 350px;
}

.logo img {
    padding-top: 10px;
}

.menu {
    width: 900px;

}

.menu ul {
    text-align: right;
}

.menu ul li {
    display: inline-block;
    padding-left: 52px;


}

.menu ul li a {
    line-height: 110px;

    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    position: relative;
    display: block;
}

.menu ul li a::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #c8c5bd;
    opacity: 0;
    transition: all linear .3s;

}

.menu ul li a:hover::after {
    opacity: 1;
    width: 100%;
}

/*----------banner part goes here------------------*/


#banner {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    text-align: center;
}

.text h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 100px;
    line-height: 115px;

}

.text img {
    padding-top: 22px;
}

.tag {
    padding-top: 49px;
}

.tag a {
    border: 1px solid #d2cdbb;
    height: 56px;
    width: 226px;
    padding: 22px 51px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.28);
    margin: 0 12px;
}

.tag a:hover {
    background-color: rgba(0, 0, 0, 0.28);

}

/*-------food part goes here-------*/

#food {
    background: url(../images/food.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.food-main {
    display: flex;
    justify-content: space-between;

}

.left {
    text-align: center;
}

.left h3 {
    padding-top: 80px;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;


}

.left img {
    padding-top: 17px;
    padding-bottom: 20px;
}


.left p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4c4c4c;
    padding: 0 100px;
    line-height: 24px;
}

.left-logo {
    padding-top: 23px;
}

.right img {
    padding-top: 40px;

}


/*---------ingredients part goes here-----------*/

#ingredients {
    background: url(../images/ingredients.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.ingredients-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;

}

.ingredients-item {
    height: 560px;
    width: 566px;
    background-color: rgba(0, 0, 0, 0.295);
    margin-right: 45px;
    padding-top: 15px;
    text-align: center;
}

.ingredients-item h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 42px;

}

.ingredients-item img {
    padding-top: 15px;
}

.ingredients-item p {
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 60px;
    line-height: 24px;
}

.ingredients-menu {
    display: flex;
    justify-content: center;
    margin-top: 47px;


}

.ingredients-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.chili {
    margin: 0 30px;
}

/*-------------pattern part goes here---------------*/

#pattern {
    background: url(../images/pattern.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;


}

.pattern {

    display: flex;
    justify-content: space-between;
    padding: 60px 110px;
    height: 100%;


}


.pattern-header {
    text-align: center;
    padding-top: 15px;

}

.pattern-header h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;

}

.pattern-header img {
    padding-top: 10px;
}

.pattern-menu {

    width: 435px;

    padding-top: 20px;

    /*padding-bottom: 10px;*/
}

.pattern-menu h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    font-weight: 400;
    color: #c89f2d;

    border-bottom: 1px solid #c89f2d;
    padding-bottom: 10px;

}

.pattern-menu span {
    float: right;
}

.pattern-menu p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4c4c4c;
    padding-top: 14px;

}

/*--------Cart part goes here-----*/

#cart {
    padding-top: 20px;
    margin-bottom: 30px;
    /*background: url(../images/pattern.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    height:100px;*/
    position: relative;
}

.layer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgba(107, 36, 189, 0.3);*/
}

.cart-main {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    /*display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 50px 60px 0px 60px; */
}

.cart-main ul li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.cart-main ul li span {
    padding-left: 5px;
}

.cart-main ul li a {

    line-height: 110px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
    font-weight: 700;
    color: #cc9900;
    text-transform: capitalize;
}


.cart-main li i {
    padding-top: 46px;
    color: #fff;
}

.cart-thing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}

.cart-img {
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.cart-img:hover .cart1,
.cart-img:hover .cart2,
.cart-img:hover .cart3,
.cart-img:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
    background-color: #cc9900;
}

/*----------------review part goes here----------------*/

#review {

    background: url(../images/review.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.review-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.review-item {
    width: 770px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.562);
    text-align: center;
}

.review-item h3 {
    text-transform: capitalize;
    padding-top: 60px;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;

}

.review-item img {
    padding-top: 10px;
    padding-bottom: 20px;
}

.review-item p {
    font-family: 'Gentium Book Basic', serif;
    font-size: 23px;
    font-weight: 400;
    color: #dde0df;
    padding: 0 80px;
    line-height: 35px;
}

.review-item h4 {
    padding-top: 35px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 20px;
    font-weight: 400;
    color: #dde0df;
}

/*-----------form part goes here-------------*/

#form {
    background: url(../images/food.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*.form-main{
    padding-top: 80px;
}
*/

.form-item {
    display: flex;
    justify-content: space-between;
}

.form-left {
    display: flex;
    justify-content: space-between;

    padding: 80px 40px 80px 30px;

}

.form-pic1 {
    margin: 0 10px;

    width: 270px;
}

.form-right {
    padding-top: 80px;

}


.form-heading {
    text-align: center;
}

.form-heading h2 {

    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;
}


.form-right img {
    padding: 13px 0;
}

.form-right p {

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4c4c4c;
    line-height: 30px;
    padding: 0 90px;
    margin-bottom: 3px;
}

.form-content {
    display: flex;
    justify-content: space-between;
    padding: 22px 80px;

}

.content-item h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #c9a131;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.content-item input {
    width: 200px;
    height: 36px;
    border: 1px solid #c8c6c6;
    padding-left: 14px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #7c7c7c;

}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #7c7c7c;
    font-style: italic;

}

.content-item form {
    position: relative;
}

.content-item form i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    font-size: 12px;
}


.mina {
    padding-top: 21px;
}

.btn {

    margin: 8px 200px;
    width: 200px;
    height: 35px;
    border: 1px solid #c9a131;
    text-align: center;
    background-color: #c9a131;
    padding: 4px;

}

.btn a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffff;
}


/*back-to top part goes here*/

.back-To-Top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    cursor: pointer;
    display: none;
}

.back-To-Top i {
    width: 40px;
    height: 40px;
    background-color: tomato;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}


/*------footer part goes here---------*/

footer {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #191919;
    width: 100%;
}

.foot-main {
    display: flex;
    justify-content: space-between;


}


.foot-item {
    text-align: center;
    width: 390px;

}

.item1 {
    margin-left: 50px;

}

.foot-item h3 {

    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    font-weight: 400;
    color: #fefefe;
    text-transform: capitalize;
}


.foot-item img {
    padding-top: 20px;
    padding-bottom: 10px;

}

.item1 p {
    font-family: 'Chelsea Market', cursive;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 34px;


}

.foot-para2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;

}

.foot-para2 img {
    padding-top: 46px;
}

.foot-para3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 24px;


}

.social-media {
    font-size: 16px;
}

.social-media i {
    padding-top: 46px;
    color: #fff;

}

.tina {
    padding: 0 10px;
}

/*---------Cart page starts from here-------------*/

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;

    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;

}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;

}

.product-tittle {
    width: 45%;
}

.price {
    width: 15%;

    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;

    display: flex;
    align-items: center;
}

.total {
    width: 10%;

    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

}

/*------Cart page------------*/

.cart-page {
    margin: 50px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}


th {
    text-align: left;
    padding: 10px;
    color: #fff;
    background: teal;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: teal;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid teal;
    width: 100%;
    max-width: 350px;
}


/*Product list styles*/
input,
textarea,
button {
    height: 25px;
    margin: 0;
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    outline: none;
    border-radius: 0;
    background: none;
    border: 1px solid #282b33;
}

button,
select {
    height: 45px;
    padding: 0 15px;
    cursor: pointer;
}

button {
    background: none;
    border: 1px solid black;
    margin: 25px 0;
}

button:hover {
    background-color: #282b33;
    color: white;
}

.tools {
    overflow: auto;
    zoom: 1;
}

.search-area {
    float: left;
    width: 60%;
}

#searchbutton {
    width: 60px;
    height: 47px;
}

input#search {
    width: 30%;
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #282b33;
}

@media screen and (max-width: 400px) {
    .search-area {
        width: 100%;
    }
}

.products {
    width: 100%;
    font-family: Raleway;
}

.product {
    display: inline-block;
    width: calc(24% - 13px);
    margin: 10px 10px 30px 10px;
    vertical-align: top;
}

.product img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 200px;
    max-width: calc(100% - 20px);
    background-cover: fit;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

.product-content {
    text-align: center;
}

.product h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.product h3 small {
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 7px 0 0 0;
}

.product .product-text {
    margin: 7px 0 0 0;
    color: #777;
}

.product .price {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.product .genre {
    font-size: 14px;
}

@media screen and (max-width: 1150px) {
    .product {
        width: calc(33% - 23px);
    }
}

@media screen and (max-width: 700px) {
    .product {
        width: calc(50% - 43px);
    }
}

@media screen and (max-width: 400px) {
    .product {
        width: 100%;
    }
}

/* TABLE VIEW */

@media screen and (min-width: 401px) {
    .products-table .product {
        display: block;
        width: auto;
        margin: 10px 10px 30px 10px;
    }

    .products-table .product .product-img {
        display: inline-block;
        margin: 0;
        width: 120px;
        height: 120px;
        vertical-align: middle;
    }

    .products-table .product img {
        width: auto;
        height: 120px;
        max-width: 120px;
    }

    .products-table .product-content {
        text-align: left;
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        width: calc(100% - 145px);
    }

    .products-table .product h3 {
        margin: 0;
    }
}
