<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="base.css" />
  </head>
  <body>
    <table class="cart">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Remove</th>
          <th>Unit price</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <a href="">
              <img src="" />
            </a>
          </td>
          <td>Biriyani</td>
          <td>10</td>
          <td>
            <form action="" method="post">
              <input type="submit" value="Remove" />
            </form>
          </td>
          <td class="num">$10</td>
          <td class="num">$10</td>
        </tr>
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">$10</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
