{% extends 'restuarant/base.html' %}
{% load static %}
{% block content %}

    <div class="cart-page container">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/biriyani.jpg">
                        <div>
                            <p>Biriyani</p>
                            <small>price: 250Tk</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>250Tk</td>
            </tr>


            <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/ingredients.jpg">
                        <div>
                            <p>Vegetable</p>
                            <small>price: 200Tk</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>200Tk</td>
            </tr>


            <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/cherry.jpg">
                        <div>
                            <p>Desert</p>
                            <small>price: 350Tk</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>350Tk</td>
            </tr>
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>800TK</td>
                </tr>
            </table>

        </div>
    </div>

{% endblock %}
