{% extends 'restuarant/base.html' %}
{% load static %}
{% load cart %}
{% block content %}

    <div class="cart-page container">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>

            {% for item in items %}

                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="{% static 'images/biriyani.jpg' %}">
                            <div>
                                <p>{{ item.name }}</p>
                                <small>price: {{ item.price }}Tk</small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td>{{ item|cart_quantity:request.session.cart }}</td>
                    <td>{{ item|price_total:request.session.cart }}Tk</td>
                </tr>
            {% endfor %}


        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>{{ items|total_cart_price:request.session.cart }}TK</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
