{% load static %}

<section id="food">
    <div class="container food-main">
        <div class="left">

            <h3>JUST THE RIGHT FOOD</h3>
            <img src="{% static 'images/restaurant.png' %}">

            <P>If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back
                for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and gourmet coffees
                make us hard to resist! Stop in today and check us out!</P>

            <div class="left-logo">
                <img src="{% static 'images/man.png' %}">
            </div>

        </div>
        <div class="right">
            <img src="{% static 'images/dish.png' %}">
        </div>

    </div>
</section>