{% load static %}

<footer>
        <div class="container foot-main">

            <div class="foot-item item1 ">
                <h3>About Us</h3>
                <img src="{% static 'images/photo.png' %}">

                <p>Lambda's new and expanded Chelsea location represents a truly authentic <b>Greek</b> patisserie,
                    featuring breakfasts of fresh croissants and steaming bowls of café.</p>
                <p>Lamda the best restaurant in town</p>

            </div>
            <div class="foot-item">
                <h3>Opening hours</h3>
                <img src="{% static 'images/photo.png' %}">
                <div class="foot-para2">
                    <p>Mon-Thu: 7:00am-8:00pm </p>
                    <p> Fri-Sun: 7:00am-10:00pm</p>
                    <img src="{% static 'images/card.png' %}">
                </div>
            </div>
            <div class="foot-item">
                <h3>Our location</h3>
                <img src="{% static 'images/photo.png' %}">
                <div class="foot-para3">
                    <p>19th Paradise Street Sitia</p>
                    <p> 128 Meserole Avenue</p>
                </div>
                <div class="social-media">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-youtube tina"></i>
                    <i class="fa fa-twitter"></i>
                </div>
            </div>
        </div>
    </footer>
