{% load static %}

<section id="form">
    <div class="container form-main">
        <div class="form-item">

            <div class="form-left">

                <div class="form-pic1">
                    <img src="{% static 'images/biriyani.jpg' %}" alt="">
                </div>

                <div class="form-pic1">
                    <img src="{% static 'images/cherry.jpg' %}" alt="">
                </div>
            </div>


            <div class="form-right">

                <div class="form-heading">
                    <h2>Just the right food</h2>
                    <img src="{% static 'images/pattern.png' %}" alt="">

                    <p>If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers
                        coming back for more. Perfect materials and freshly baked food.</p>

                    <p> Delicious Lambda cakes, muffins, and gourmet coffees make us hard to resist! Stop in today and
                        check us out! Perfect materials and freshly baked food.</p>

                </div>

                <div class="form-content">
                    <div class="left-content">
                        <div class="content-item">
                            <h3>name</h3>
                            <form action="#" method="post">
                                <input type="text" placeholder="your name *">
                            </form>
                        </div>

                        <div class="content-item mina">
                            <h3>date</h3>
                            <form action="#" method="post">
                                <input type="text" placeholder="date *">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </form>
                        </div>
                    </div>

                    <div class="right-content">

                        <div class="content-item">
                            <h3>name</h3>
                            <form action="#" method="post">
                                <input type="text" placeholder="your name *">
                            </form>
                        </div>

                        <div class="content-item mina">
                            <h3>party number</h3>
                            <form action="#" method="post">
                                <input type="text" placeholder="party number">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <a href="#">Book now!</a>
                </div>
            </div>
        </div>
    </div>
</section>


<a class="back-To-Top">
    <i class="fa fa-chevron-up"></i>
</a>