{% load static %}

<section id="ingredients">

    <div class="container ingredients-main">
        <div class="ingredients-item">

            <h3>Fine ingredients</h3>
            <img src="{% static 'images/photo.png' %}">
            <p>If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back
                for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and gourmet coffees
                make us hard to resist! Stop in today and check us out! </p>
            <div class="ingredients-menu">
                <div class="ingredients-pic">
                    <img src="{% static 'images/pic1.png' %}" alt="">
                </div>

                <div class="ingredients-pic chili">
                    <img src="{% static 'images/pic2.png' %}">
                </div>

                <div class="ingredients-pic">
                    <img src="{% static 'images/pic3.png' %}">
                </div>
            </div>
        </div>
    </div>


</section>