{% load static %}
<div class="tools">
    <div class="search-area">
        <input type="text" id="search" placeholder="Search"/>
        <button id="searchbutton">Go</button>
    </div>
</div>

<div class="pattern-header">
    <h3>Appetisers</h3>
    <img src="{% static 'images/pattern.png' %}" alt="">
</div>

<div class="products products-table">
    <div class="product">
        <div class="product-img">
            <img src="http://placehold.it/400x650"/>
        </div>
        <div class="product-content">
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
                <small>Consectetur Adipisicing</small>
            </h3>
            <p class="product-text price">$9.99</p>
            <p class="product-text genre">DVD Rental</p>
        </div>
    </div>
</div>