{% load static %}

<section id="review">
    <div class="container review-main">
        <div class="review-item">
            <h3>guest reviews</h3>
            <img src="{% static 'images/photo.png' %}">
            <p>If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back
                for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and gourmet coffees
                make us hard to resist! Stop in today and check us out! </p>
            <h4> -food inc, New York </h4>
        </div>
    </div>
</section>